<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/site.webmanifest">
    <title>Simulation</title>
    <link rel="stylesheet" href="simulation.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript-astar/0.4.1/astar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gpu.js@latest/dist/gpu-browser.min.js"></script>
</head>

<body class="m-0">

    <div class="modal fade" id="popupModal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="popupBody">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-dark navbar-expand-md bg-dark justify-content-between">
        <img src="/icon/face-mask-drawing2.png" alt="" height="30px">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse dual-nav w-50 order-1 order-md-0">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link pl-0" href="/" id="homeButton">Home<span class="sr-only">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/research">Research</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/simulation">Simulation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about" id="aboutButton">About Us</a>
                    </li>
                </ul>
            </div>

            <div class="navbar-collapse collapse dual-nav w-50 order-2">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="https://github.com/gomgom03/Corona-Project">Github<i
                                class="fa fa-github"></i></a></li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="container bg-white">
        <div class="container gray-back-light text-black rounded mt-3 mb-3 pb-3 pt-3 in text-center">

            <div class="d-flex justify-content-center mb-1 mt-2">
                <button type="button" class="btn btn-primary btn-lg" id="defaultSimulStart">Run Default
                    Simulation</button>
            </div>

            <button data-toggle="collapse" data-target="#configOptions" class="btn btn-sm py-0 btn-dark mt-2 mb-2"
                id="configOptionButton">→ Configuration
                Options ←</button>
            <div class="collapse" id="configOptions">
                <div class="d-flex justify-content-center mb-2 text-dark">
                    <div class="lead"><strong>***Fields left blank will use default values***</strong></div>
                </div>
                <div class="container mb-1 mt-1" id="configInputs">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Map</span>
                        </div>
                        <select class="form-control configParts" id="map">
                            <option value="" selected disabled hidden>Choose Option</option>
                            <option value="1">Map 1 (Default) </option>
                            <option value="2">Map 2</option>
                        </select>
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Tile Width (positive
                                integer)</span>
                        </div>
                        <input type=" number" class="form-control configParts" placeholder="Default: 3"
                            aria-label="pixelSize" aria-describedby="basic-addon1" id="tileWidth">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Chart Increment (Do not change between trials)</span>
                        </div>
                        <input type=" number" class="form-control configParts" placeholder="Default: 20"
                            aria-label="pixelSize" aria-describedby="basic-addon1" id="chartIncrement">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Humans Per Household</span>
                        </div>
                        <input type="number" class="form-control configParts" placeholder="Default: 2" aria-label="hph"
                            aria-describedby="basic-addon1" id="humansPerHouseHold">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Probability of Coronavirus Transmission
                                (10
                                seconds same area)</span>
                        </div>
                        <input type="number" class="form-control configParts" placeholder="Default: 40"
                            aria-label="pTrans" aria-describedby="basic-addon1" step="5" id="tRate">
                        <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02">%</label>
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Mask Rating</span>
                        </div>
                        <input type="number" class="form-control configParts" placeholder="Default: 95"
                            aria-label="mBlock" aria-describedby="basic-addon1" step="5" id="maskDegrade">
                        <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02">%</label>
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Probabilty of Asymptomatic
                                Transmission (Not going to hospital)</span>
                        </div>
                        <input type="number" class="form-control configParts" placeholder="Default: 80"
                            aria-label="asymp" aria-describedby="basic-addon1" step="5" id="asympRate">
                        <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02">%</label>
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Probabilty of Infection of those
                                Carrying
                                the
                                Virus Every 10 Seconds</span>
                        </div>
                        <input type="number" class="form-control configParts" placeholder="Default: 0.5"
                            aria-label="asymp" aria-describedby="basic-addon1" step="0.5" id="carryToInf">
                        <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02">%</label>
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Probability of Going to a Grocery Store
                                on
                                a Given Day</span>
                        </div>
                        <input type="number" class="form-control configParts" placeholder="Default: 42.86 (3/7)"
                            aria-label="asymp" aria-describedby="basic-addon1" step="5" id="pGroc">
                        <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02">%</label>
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Probability of Going to a Park on
                                a Given Day</span>
                        </div>
                        <input type="number" class="form-control configParts" placeholder="Default: 57.14 (4/7)"
                            aria-label="asymp" aria-describedby="basic-addon1" step="5" id="pPark">
                        <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02">%</label>
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Probability of Going to a Restaurant on
                                a Given Day</span>
                        </div>
                        <input type="number" class="form-control configParts" placeholder="Default: 28.57 (2/7)"
                            aria-label="asymp" aria-describedby="basic-addon1" step="5" id="pRes">
                        <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02">%</label>
                        </div>
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Mask</span>
                        </div>
                        <select class="form-control configParts" id="mask">
                            <option value="" selected disabled hidden>Choose Option</option>
                            <option value="1">True</option>
                            <option value="0">False (Default)</option>
                        </select>
                    </div>

                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Washing Hands After Coming
                                Home</span>
                        </div>
                        <select class="form-control configParts" id="washingHands">
                            <option value="" selected disabled hidden>Choose Option</option>
                            <option value="1">True</option>
                            <option value="0">False (Default)</option>
                        </select>
                    </div>

                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Avoiding Non-Essential Travel (Restaurants
                                & Parks)</span>
                        </div>
                        <select class="form-control configParts" id="avoidNonessential">
                            <option value="" selected disabled hidden>Choose Option</option>
                            <option value="1">True </option>
                            <option value="0">False (Default)</option>
                        </select>
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Save Scenes (potentially high RAM cost &
                                crash) </span>
                        </div>
                        <select class="form-control configParts" id="saveScenes">
                            <option value="" selected disabled hidden>Choose Option</option>
                            <option value="1">True </option>
                            <option value="0">False (Default)</option>
                        </select>
                    </div>

                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Start of Day (Hour 1-12)</span>
                        </div>
                        <input type="number" class="form-control configParts" placeholder="Default: 7"
                            aria-label="asymp" aria-describedby="basic-addon1" step="1" id="curfM">
                    </div>
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Curfew (Hour 13-22)</span>
                        </div>
                        <input type="number" class="form-control configParts" placeholder="Default: 21"
                            aria-label="asymp" aria-describedby="basic-addon1" step="1" id="curfN">
                    </div>

                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Loop #</span>
                        </div>
                        <input type="number" class="form-control configParts" placeholder="Default: 1"
                            aria-label="asymp" aria-describedby="basic-addon1" step="1" id="loopTimes">
                        <div class="input-group-append">
                            <label class="input-group-text" for="inputGroupSelect02">Time(s)</label>
                        </div>
                    </div>

                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Set Upperbound 2 weeks</span>
                        </div>
                        <select class="form-control configParts" id="upperBound">
                            <option value="" selected disabled hidden>Choose Option</option>
                            <option value="1">True </option>
                            <option value="0">False (Default)</option>
                        </select>
                    </div>

                </div>
                <div class="d-flex justify-content-center mb-2 mt-2">
                    <button type="button" class="btn btn-primary btn-lg" id="configSimulStart">Run</button>
                </div>
            </div>


        </div>

    </div>
    <div class="d-none" id="spinner">
        <button class="btn btn-primary mb-3 mt-0" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            Loading...
        </button>
    </div>

    <div class="container bg-light text-center rounded mb-5">
        <div class="d-flex justify-content-center" id="simulContainer"></div>
        <h3 id="num">Time</h3>
        <button class="btn btn-light border" id="playSimul">Play</button>
        <button class="btn btn-light border" id="pauseSimul">Pause</button>

        <button class="btn btn-light border" id="fasterSimul"> Faster </button>
        <button class="btn btn-light border" id="slowerSimul"> Slower </button>
        <p>Simulation speed: <br /><strong id="simulSpeedFPS"></strong><br /><strong id="simulSpeedTime"></strong>
        </p>

        <div id="loadState">Loaded till time t= <strong id="loadStateSub"></strong></div>
        <button class="btn btn-danger" id="pauseQueue">Pause Queue</button>


        <div class="container mt-3 mb-3">
            <canvas id="chartCanvas"></canvas>
        </div>

        <div class="container" id="dataLog">
            <textarea id="copyableData" cols="10" rows="10000" style="height:0px;margin:0px;padding:0px;opacity:0"
                readonly></textarea>
            <br>
            <button class="btn btn-warning mt-2 mb-2" id="copyData">Copy Data</button>
        </div>
    </div>




    <script src="simulation.js"></script>

</body>

</html>