<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="simulation.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript-astar/0.4.1/astar.min.js"></script>
</head>

<body>
    <h1 id="num">hi</h1>
    <button id="playSimul">Play</button>
    <button id="pauseSimul">Pause</button>
    <div id="loadState">Loaded till time t= <strong id="loadStateSub"></strong></div>
    <script src="simulation.js"></script>

</body>

</html>